* {
    padding: 0;
    border: 0;
    margin: 0;
}
header {background-image: url(../img/design1_image1.jpg);
    background-position-y: center;
    background-size: cover;
    min-height: 10vh;
    padding: 5rem;
    }

h1 {margin: 0px 15px;}
.h2principal {background-color: black;
    color: antiquewhite;
    text-align: center;
    margin: 3px 0px;
    z-index: 2;
}
p {text-indent: 1.5em;}
.contenedorlogo {
    display: flex;
    justify-content: right;
    align-items:flex-end;
}
.logo {display: flex;
    max-width: 15%;
}
.rutas {display: block;
    padding: 25px;
}
article {
    margin-bottom: 25px;
}
.boxmayor {display: flex;
    align-items:flex-start;
}
.cuerpo {display: flex;
    flex-direction: column;
    vertical-align: top;
    padding-top: 25px;
    min-width: auto;
    margin-right: 25px;
}
nav {vertical-align: top;
    min-width: 200px;
    }

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    }
.fotos {height: 20rem;
}
.encabezado {margin: 0px;
    font-size: 22px;
}
.encabezadobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.h3rules {margin-top: 15px;
margin-bottom: 15px;}

li {margin-top: 15px;
    margin-bottom: 15px;
}
.listaprincipal {list-style-type: decimal;
    padding-left: 1em;
}
.listaletras {list-style-type: lower-latin;
    padding-left: 1em;
    }
.listacircular {list-style-type: circle;
padding-left: 3em;}

.Infotabla1 {text-indent: 0em;
    font-size: 20px;
    font-style: italic;
}
.Infotabla2 {text-indent: 0em;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
}

table {
    margin: 25px;
    border-collapse: separate;
}
td, th {
  padding-left: 50px;
  text-align: left;
  padding-top: 10px;
}

.tablademapas
{
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
}
.thmaps {
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
}
.trmaps {
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
    
}
.tdmaps {
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
}

iframe {
    border-radius: 1rem;
    width: 10rem;
}

.tablasecundaria {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: lightgray;
}
form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px black solid;
    margin-bottom: 25px;
}
.fieldsetbox {
    border-top: 0.5px black solid;
    margin-bottom: 15px;
    text-align: justify;
}
input {
    border: 0.5px gray solid;
    background-color:rgb(236, 233, 236);
    margin-right: 5px;
    margin-top: 10px;
    }
label {
    margin-right: 5px;
}
legend {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}