* {
    padding: 0;
    border: 0;
    margin: 0;
}
header {background-image: url(../Img/design1_image1.jpg);
    background-position-y: center;
    background-size: cover;
    min-height: 10vh;
    padding: 5rem;
    }

h1 {margin: 0px 15px;}
h2 {background-color: black;
    color: antiquewhite;
    text-align: center;
    margin: 3px 0px;
    z-index: 2;
}
p {margin: 0px 15px;}
.logo {
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 150px;
    }
.rutas {display: block;
    padding: 25px;
}
article {
    margin-bottom: 25px;
}

.cuerpo {display: inline-block;
    vertical-align: top;
    padding-top: 25px;
}
nav {display: inline-block;
    }
.imagen {
    scale: 50%;
    float: right;
    position: absolute;
    top: 150px;
    right: -270px;
    } 
.imagen2 {
    scale: 50%;
    float: right;
    position: absolute;
    top: 250px;
    right: -270px;
    }